{
	"Statement" : [
	{
		"Effect" : "Allow",
		"Action" : "Update:Modify",
		"Principal": "*",
		"Resource" : "*",
		"Condition" : {
			"StringEquals" : {
				"ResourceType" : ["AWS::ElasticLoadBalancing::*","AWS::CloudFormation::Stack"]
			}
		}
	} ]
}
