{
	"Statement" : [
	{
		"Effect" : "Allow",
		"Action" : "Update:*",
		"Principal": "*",
		"Resource" : "*",
		"Condition" : {
			"StringEquals" : {
				"ResourceType" : ["AWS::RDS::*","AWS::CloudFormation::Stack","AWS::IAM::*"]
			}
		}
	} ]
}


